<mat-card class="address">
    <mat-card-header>
        <mat-card-title>{{address.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="address-info">
            <span class="title">Street</span>
            <span>{{address.streetAddress}}</span>
        </div>
        <div class="address-info">
            <span class="title">City</span>
            <span>{{address.city}}</span>
        </div>
        <div class="address-info">
            <span class="title">State</span>
            <span>{{address.state}}</span>
        </div>
        <div class="address-info">
            <span class="title">Zip Code</span>
            <span>{{address.zipCode}}</span>
        </div>
        <div class="address-info">
            <span class="title">Phone</span>
            <span>{{address.phone}}</span>
        </div>
    </mat-card-content>
</mat-card>